:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --additional-text-color: #ffffff;
  --bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --accent: #2196f3;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* header */
.logo {
  color: var(--secondary-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent);
}

.site-nav .link {
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent);
}

.link.current {
  color: var(--accent);
}

.link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* main */
/* Герой */

.hero {
  color: var(--additional-text-color);
  background-color: #2f303a;

  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  background-color: var(--accent);
  color: var(--additional-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Особенности */

.features .title {
  display: none;
}

.heading {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Направление */

.title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Команда */

.team {
  background-color: var(--secondary-bg-color);

  font-size: 16px;
  line-height: 1.19;
}

.team .heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: none;
}

/* footer */

.footer {
  background-color: #2f303a;
}

.address {
  color: var(--additional-text-color);

  font-style: normal;
}

.footer .logo {
  color: var(--additional-text-color);
}

.footer .link {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* portfolio */

.portfolio-nav {
  background-color: #f5f4fa;
  color: var(--secondary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.portfolio-nav.current {
  background-color: var(--accent);
  color: var(--additional-text-color);
}

.portfolio-nav:hover,
.portfolio-nav:focus {
  background-color: var(--accent);
  color: var(--additional-text-color);
}

.portfolio .title {
  display: none;
}

.portfolio-link {
  color: var(--primary-text-color);

  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.portfolio-link .heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}
